<app-title></app-title>

<form [formGroup]="timeZoneForm" class="CountriesSelect">
  <mat-form-field appearance="fill" >
    <mat-label>Select area</mat-label>
    <mat-select formControlName="area">
      <mat-option *ngFor="let area of areas" [value]="area">
        {{ area }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Select country</mat-label>
    <mat-select formControlName="city">
      <mat-option *ngFor="let city of cities" [value]="city">
        {{ city }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button
    mat-raised-button
    color="accent"
    [disabled]="!timeZoneForm.get('area').dirty && !timeZoneForm.get('city').dirty"
    (click)="handleGetTime()"
  >
    What time
  </button>
</form>


<section class="ActiveTime" *ngIf="activePlaceAndDate.date">
  <div class="City">
    <h2>{{ activePlaceAndDate.area }} {{ activePlaceAndDate.city }}</h2>
  </div>

  <section class="DateAndTime">
    <div class="Date">
      <p class="Title">Date:</p>
      <div class="ActualData">
        <mat-icon color="accent">
          <span class="material-symbols-outlined">
            today
          </span>
        </mat-icon>
        <p class="ActualData Data">{{ activePlaceAndDate.date| date:'mediumDate' }}</p>
      </div>
    </div>

    <div class="Time">
      <p class="Title">Time:</p>
      <div class="ActualData">
        <mat-icon color="accent">
          <span class="material-symbols-outlined">
            schedule
          </span>
        </mat-icon>
        <p class="ActualData Data">{{ activePlaceAndDate.date | date:'mediumTime' }}</p>
      </div>
    </div>
  </section>


</section>


