@import '../shared/variables'

.Logo
  margin-right: 8px

.LogoName
  font-weight: 200
  font-style: italic
  font-size: 22px

  a
    color: white


nav
  padding-left: 16px

  .Navigation
    display: flex
    list-style-type: none

    @media screen and (max-width: 600px)
      display: none

    a
      margin-right: 24px
      font-size: 18px
      font-weight: 400
      color: white

      &:hover
        color: lightgray

      &.Active
        color: $color-custom

.BurgerMenu
  display: none
  a
    color: black

  @media screen and (max-width: 600px)
    display: block

.example-spacer
  flex: 1 1 auto
