<mat-toolbar color="primary">
  <img src="../../assets/logo.png" alt="Logo" class="Logo">
  <div class="LogoName">
    <a style="cursor: pointer;" routerLink="/home">PrettyTime</a>
  </div>

  <nav>
    <ul class="Navigation">
      <li>
        <a
          style="cursor: pointer;"
          routerLinkActive="Active"
          routerLink="/world-clock"
        >
          World Clock
        </a>
      </li>

      <li>
        <a
          style="cursor: pointer;"
          routerLinkActive="Active"
          routerLink="/timer"
        >
          Timer
        </a>
      </li>

      <li>
        <a
          style="cursor: pointer;"
          routerLinkActive="Active"
          routerLink="/stopwatch"
        >
          Stopwatch
        </a>
      </li>
    </ul>
  </nav>
</mat-toolbar>


