<app-title></app-title>

<section class="Timer">
  <p  *ngIf="!timerActive">Choose time and add name if you want</p>

  <form *ngIf="!timerActive" [formGroup]="timerForm">

    <div class="Inputs">
      <div class="Time">
        <mat-form-field appearance="fill">
          <mat-label>Houres</mat-label>
          <input type="number" min="0" matInput formControlName="houres">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Minutes</mat-label>
          <input type="number" min="0" matInput formControlName="minutes">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Seconds</mat-label>
          <input type="number" min="0" matInput formControlName="seconds">
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Timer name</mat-label>
        <input type="text" matInput placeholder="Timer name" formControlName="name">
      </mat-form-field>
    </div>
  </form>

  <section class="SpinnerSection" *ngIf="timerActive">
    <h2>Your progress</h2>

    <div class="Spinner">
      <mat-progress-spinner
      [color]="color"
      [mode]="mode"
      [value]="value">
    </mat-progress-spinner>
    <p class="Result">{{ result }}</p>
    </div>

  </section>


  <div class="Buttons">
    <button
      type="button"
      mat-raised-button
      color="accent"
      *ngIf="!timerActive"
      (click)="handleStart()"
      [disabled]="!allowStart()"
    >
      Start timer
    </button>
    <button
      type="button"
      mat-raised-button
      color="secondary"
      *ngIf="timerActive && !timerPause"
      (click)="handlePause()"
    >
      Pause
    </button>
    <button
      type="button"
      mat-raised-button
      color="secondary"
      *ngIf="timerPause"
      (click)="handleContinue()"
    >
      Continue
    </button>
    <button
      type="button"
      mat-raised-button
      color="accent"
      *ngIf="timerActive"
      (click)="handleStop()"
    >
      Stop
    </button>
  </div>

</section>

<section class="LastTimers">
  <h2>Last Timers</h2>

  <div class="TimersAll" >
    <app-timer-table></app-timer-table>
  </div>

</section>


